---
import Nav from './Nav.astro';
---

<header class='bg-gray-100 px-4'>
  <div class='layout-container flex items-center justify-between'>
    <p><a href='/'>Logo</a></p>
    <Nav />
  </div>
</header>
